<!DOCTYPE html>
<html>
<head>
	<title>绑定手机号</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/weui/dist/style/weui.css">
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js/bind_ok.js"></script>	
</head>
<body>
<div class="page">
    <div class="page_hd">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">手机号已绑定</h2>
            </div>
        </div>    
    </div>
    <div class="page_bd">
        <div class="weui-cells__title">绑定信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>用户</p>
                </div>
                <div class="weui-cell__ft" id="name"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>手机号</p>
                </div>
                <div class="weui-cell__ft" id="mobile"></div>
             </div>
        </div>
        <br>
        <div class="weui-cells__title">
            提示:绑定手机号用于接收验证码及开票结果通知,
            手机号一旦绑定将不可更改
        </div>
    </div>
    <div class="page_ft">
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">开票助手</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; 2016 piaomi.com</p>
            </div>
        </div>  
    </div>
</div>
</body>
</html>