img {
	width: 25%;
	align-content: center;
	margin-top: 8%;
	border: 1px solid grey;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8%;
	display: block;
}

.weui-btn-area{
	margin-top: 10%;
}

.page__ft{
	margin-top: 26%;
}